$icon-font-path: '../fonts/';

$font-family-sans-serif:  "Source Code Pro", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif ;


// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/roboto-fontface/css/roboto-fontface.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower


.leaflet-container {
  height: 100vh;
}
.fluid-container .row {
  margin-left: 0px;
  margin-right: 0px;
}
.nopadding {
  padding: 0px;
}
img.leaflet-tile {
  /* css filters can style the map */
}

#d {
  display: none;
}

.tweet {
  width: 300px;
}
.twitter-tweet {
  min-width: 100px;
  min-height: 100px;
  font-size: 1em;
  padding: 3px;
  margin: 3px;
  p {
    margin: 0;
  }

}
#map {
  path {
    fill: white;
    fill-opacity: 0.1;
    stroke-width: 1;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  .leaflet-marker-icon {
    /* filter: url('styles/filters.svg#dropShadow'); */
    filter: saturate(40%);
  }
}
